@page "/invoices/{id:int}"
@rendermode InteractiveServer

@using InvoiceCreator.Models
@using InvoiceCreator.Services
@using Microsoft.AspNetCore.Authorization
@using System.Globalization

@inject IInvoiceMasterService InvoiceMasterService
@inject NavigationManager NavManager

@attribute [Authorize]

<div class="d-flex justify-content-between py-2">
    <h3 class="mb-3">Invoice Details</h3>
    <button class="btn btn-primary btn-sm py-2" @onclick="GoToEdit">Edit</button>
</div>

@if (invoice == null)
{
    <p>Loading...</p>
}
else
{
    <!-- invoice master infos -->
    <div class="card p-3 mb-3">
        <div class="row">
            <div class="col-md-6">
                <strong>Customer:</strong> @invoice.CustomerName
            </div>

            <div class="col-md-6">
                <strong>Created At:</strong> @invoice.CreatedAt.ToString("f", new CultureInfo("en-MU"))
            </div>
        </div>
        <hr />
    </div>

    <!-- details -->
    <SfGrid DataSource="@invoice.InvoiceDetails"
            TValue="InvoiceDetail"
            AllowEditing="false"
            AllowAdding="false"
            AllowDeleting="false">

        <GridColumns>
            <GridColumn Field="InvoiceDetailId" HeaderText="ID" IsPrimaryKey="true" Visible="false" />
            <GridColumn Field="Product.ProductName" HeaderText="Product" />
            <GridColumn Field="Quantity" HeaderText="Quantity" />
            <GridColumn Field="NetAmount" HeaderText="Net" />
            <GridColumn Field="GrossAmount" HeaderText="Gross" />
        </GridColumns>

        <GridAggregates>
            <GridAggregate>
                <GridAggregateColumns>
                    <GridAggregateColumn Field="NetAmount" Type="AggregateType.Sum">
                        <FooterTemplate>
                            @{
                                var aggregateContext = context as AggregateTemplateContext;
                                var totalGross = aggregateContext != null ? Convert.ToDecimal(aggregateContext.Sum) : 0m;
                            }
                            <div class="fw-bold">
                                <div>Rs @totalGross.ToString()</div>
                            </div>
                        </FooterTemplate>
                    </GridAggregateColumn>

                    <GridAggregateColumn Field="GrossAmount" Type="AggregateType.Sum">
                        <FooterTemplate>
                            @{
                                var aggregateContext = context as AggregateTemplateContext;
                                var totalGross = aggregateContext != null ? Convert.ToDecimal(aggregateContext.Sum) : 0m;
                            }
                            <div class="fw-bold">
                                <div>Rs @totalGross.ToString()</div>
                            </div>
                        </FooterTemplate>
                    </GridAggregateColumn>
                </GridAggregateColumns>
            </GridAggregate>
        </GridAggregates>

    </SfGrid>
}

@code {

    [Parameter]
    public int id { get; set; }

    private InvoiceMaster? invoice;

    protected override async Task OnInitializedAsync()
    {
        invoice = await InvoiceMasterService.GetInvoiceMasterByIdAsync(id);
    }

    private void GoToEdit() => NavManager.NavigateTo($"/invoices/edit/{id}");
}