@page "/invoices/add/"
@rendermode InteractiveServer

@using InvoiceCreator.FormModel
@using InvoiceCreator.Models
@using InvoiceCreator.Services
@using Microsoft.AspNetCore.Authorization
@using InvoiceCreator.Components.Shared
@inject NavigationManager NavManager

@inject ICustomerService CustomerService
@inject IProductService ProductService
@inject IInvoiceMasterService InvoiceMasterService
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<div class="d-flex justify-content-between py-2">
    <h2 class="fw-bold">New Invoice</h2>
    <SfButton CssClass="e-primary" @onclick="SaveInvoice">Save</SfButton>
</div>

<CustomDialog Title="Customer Required"
              Message="Please select a customer before saving the invoice."
              IsVisible="@showCustomerDialog"
              IsVisibleChanged="@((bool val) => showCustomerDialog = val)" />

<!-- CUSTOMER -->
<div class="d-flex flex-column pb-2">
    <label>Customer</label>
    <InputSelect TValue="int"
                 class="form-select"
                 Value="form.CustomerId"
                 ValueChanged="@( (int val) => OnCustomerChanged(val) )"
                 ValueExpression="() => form.CustomerId">
        <option value="0">-- Select Customer --</option>
        @foreach (var c in customers)
        {
            <option value="@c.CustomerId">@c.CustomerName</option>
        }
    </InputSelect>
</div>

<div class="d-flex flex-column">
    <label>Customer Name</label>
    <input class="form-control"
           value="@form.CustomerName"
           readonly />
</div>

<hr />

<!-- GRID -->
<SfGrid DataSource="@details" TValue="InvoiceDetailFormModel"
        Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })"
        AllowEditing="true">

    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"
                      Mode="Syncfusion.Blazor.Grids.EditMode.Normal" />

    <GridEvents TValue="InvoiceDetailFormModel" OnActionComplete="OnActionComplete" />

    <GridColumns>

        <!-- ID -->
        <GridColumn Field="Id" IsPrimaryKey="true" Visible="false" />

        <!-- PRODUCT -->
        <GridColumn Field="ProductId" HeaderText="Product">
            <Template Context="row">
                @{
                    var item = (InvoiceDetailFormModel)row;
                }

                @item.ProductName
            </Template>

            <EditTemplate Context="row">
                @{
                    var item = (InvoiceDetailFormModel)row;
                }

                <InputSelect TValue="int"
                             class="form-select"
                             Value="@item.ProductId"
                             ValueChanged="@( (int val) => OnProductChanged(val, item) )"
                             ValueExpression="() => item.ProductId">

                    <option value="0">-- Product --</option>

                    @foreach (var p in products)
                    {
                        <option value="@p.ProductId">@p.ProductName</option>
                    }
                </InputSelect>
            </EditTemplate>
        </GridColumn>

        <!-- UNIT PRICE -->
        <GridColumn Field="UnitPrice" HeaderText="Unit Price" Format="C2">
            <EditTemplate Context="row">
                @{var item = (InvoiceDetailFormModel)row;}

                <input class="form-control" value="@item.UnitPrice" readonly />
            </EditTemplate>
        </GridColumn>

        <!-- QUANTITY -->
        <GridColumn Field="Quantity" HeaderText="Quantity" EditType="EditType.NumericEdit" />

        <!-- NET -->
        <GridColumn Field="NetAmount" HeaderText="Net Amount" Format="C2" />

        <!-- GROSS -->
        <GridColumn Field="GrossAmount" HeaderText="Gross Amount" Format="C2" />

    </GridColumns>

    <GridAggregates>
        <GridAggregate>
            <GridAggregateColumns>
                <GridAggregateColumn Field="NetAmount" Type="AggregateType.Sum">
                    <FooterTemplate>
                        @{
                            var aggregateContext = context as AggregateTemplateContext;
                            var totalGross = aggregateContext != null ? Convert.ToDecimal(aggregateContext.Sum) : 0m;
                        }
                        <div class="fw-bold">
                            <div>Rs @totalGross.ToString()</div>
                        </div>
                    </FooterTemplate>
                </GridAggregateColumn>

                <GridAggregateColumn Field="GrossAmount" Type="AggregateType.Sum">
                    <FooterTemplate>
                        @{
                            var aggregateContext = context as AggregateTemplateContext;
                            var totalGross = aggregateContext != null ? Convert.ToDecimal(aggregateContext.Sum) : 0m;
                        }
                        <div class="fw-bold">
                            <div>Rs @totalGross.ToString()</div>
                        </div>
                    </FooterTemplate>
                </GridAggregateColumn>
            </GridAggregateColumns>
        </GridAggregate>
    </GridAggregates>
</SfGrid>

@code {

    private InvoiceMasterFormModel form = new();
    private List<Customer> customers = new();
    private List<Product> products = new();
    private List<InvoiceDetailFormModel> details = new();
    private string? currentUserId = null;
    private bool showCustomerDialog = false;
    [Parameter]
    [SupplyParameterFromQuery]
    public int? customer_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        customers = await CustomerService.GetAllCustomersAsync();
        products = await ProductService.GetAllProductsAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        currentUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (customer_id.HasValue)
        {
            var customer = customers.FirstOrDefault(c => c.CustomerId == customer_id.Value);

            if (customer != null)
            {
                form.CustomerId = customer.CustomerId;
                form.CustomerName = customer.CustomerName;
            }
        }
    }

    private void OnCustomerChanged(int id)
    {
        form.CustomerId = id;

        var customer = customers.FirstOrDefault(c => c.CustomerId == id);

        if (customer != null)
        {
            form.CustomerName = customer.CustomerName;
        }
    }

    // Each time the product change, set product name, compute and set UnitPrice and Tax
    private void OnProductChanged(int productId, InvoiceDetailFormModel row)
    {
        row.ProductId = productId;

        var product = products.FirstOrDefault(p => p.ProductId == productId);

        if (product != null)
        {
            row.ProductName = product.ProductName;
            row.UnitPrice = product.UnitPrice;
            row.Tax = product.Tax;
        }
        else
        {
            row.ProductName = "No product";
        }

        StateHasChanged();
    }

    private void OnActionComplete(ActionEventArgs<InvoiceDetailFormModel> args)
    {
        var item = args.Data;

        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (item != null)
            {
                var product = products.FirstOrDefault(p => p.ProductId == item.ProductId);
                if (product != null)
                {
                    item.UnitPrice = product.UnitPrice;
                }
            }
            details = details.ToList();
            StateHasChanged();
        } else if(args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            StateHasChanged();
        }  
    }

    private async Task SaveInvoice()
    {
        if (string.IsNullOrEmpty(currentUserId))
            throw new Exception("User not authenticated");

        if (form.CustomerId == 0)
        {
            showCustomerDialog = true;
            return;
        }

        var invoiceDetails = details.Select(d =>
        {
            var product = products.First(p => p.ProductId == d.ProductId);

            var gross = product.UnitPrice * d.Quantity; 
            var net = gross * (1 + product.Tax / 100m);

            return new InvoiceDetail
            {
                ProductId = product.ProductId,
                UnitPrice = product.UnitPrice,
                Quantity = d.Quantity,
                NetAmount = net,
                GrossAmount = gross
            };
        }).ToList();

        var invoiceMaster = new InvoiceMaster
        {
            CustomerId = form.CustomerId,
            CustomerName = form.CustomerName,
            CreatedAt = DateTime.Now,
            CreatedById = currentUserId!,
            Status = InvoiceMasterStatus.Pending,
            NetAmount = invoiceDetails.Sum(d => d.NetAmount),
            GrossAmount = invoiceDetails.Sum(d => d.GrossAmount)
        };

        var saved = await InvoiceMasterService.AddInvoiceMasterAsync(invoiceMaster, invoiceDetails);

        NavManager.NavigateTo($"/invoices/{saved.InvoiceMasterId}");
        
    }
}